@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700;800&family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

body {
    background-color: rgb(202, 206, 205);
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    
}

.breadcrumb {
    background-color: #e3e7eb; /* 背景色 */
    font-size: 1rem; /* フォントサイズ */
    margin-top: 2rem;
    padding: 0.5rem 4rem; /* 内側の余白 */
    font-family: 'Cormorant Garamond', serif;
  }

.breadcrumb-item a {
    text-decoration: none; /* 下線を消す */
    color: #118a23; /* リンクの色 */
  }
.breadcrumb-item.active {
    color: #6c757d; /* 現在ページの色 */
  }


main {
    background: #dde0e2dc;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Cormorant Garamond', serif;
}

main.container {
    width: 90%;
    background-color: #f9f9f9d3;
    padding-top: 10px;
    border-radius: 5px;

}

table th {
    color: rgb(116, 112, 109) !important;
}

/* 見出し */
h1 {
    margin: 0;
    padding-top: 50px;
    font-weight: normal;
    color: rgb(87, 88, 84);
    font-size: 50px;
    color: #fff; /* リリーフ */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6)
}

h2 {
    font-weight: bold;
    color: rgb(97, 98, 89);
    font-size: 25px;
    margin: 40px 0 30px;
}

h3 {
    font-weight: bold;
    color: rgb(88, 95, 75);
    font-size: 30px;
    border: 3px solid #3f3b3b2a;
    padding: 10px;
    margin-top: 80px;
    border-radius: 5px;
}

h4 {
    color: #fff;
    font-size: 30px;
}


h5 {
    font-weight: bold;
    color: rgb(56, 57, 49);
    width: 200px;
    font-size: 20px;
}

h6 {
    font-size: 30px;
    font-weight: normal;
    padding-top: 80px;
    color: rgb(97, 98, 89); /* ドロップシャドウ */
    text-shadow: 3px 3px 5px rgba(14, 51, 29, 0.5)
}

p {
    font-weight: bold;
    font-size: 20px;
    color: rgb(91, 88, 83);
    margin: 10px 0;
  }

ul li {
    list-style-type: none;
    font-size: 1.3rem;
    font-weight: normal;
    color: rgb(126, 121, 114);
}

/* レイアウト */
.flex-container {
    display: flex;
    justify-content:  space-evenly;
    align-items: center;
    border: 3px solid #f9f9f9f8;
    padding: 10px;
    margin: 30px;
}

/* スライド画像スタイル */
.rounded {
    border-radius: 15px;
    width: 200px;
    height: auto;
}

.img-fluid rounded{
    border-radius: 15px;
    width: 200px;
    height: auto;
}


/* 矢印スタイル */
.dli-chevron-down {
    margin: 30px; /* スライド*/
    display: inline-block;
    vertical-align: middle;
    color: #666363;
    line-height: 1;
    width: 0;  /* 矢印の幅 */
    height: 0; /* 矢印の高さ */
    border: 0.1em solid transparent; /* 矢印の透明な部分 */
    border: 0.1em solid currentColor; /* 矢印の色を設定 */
    box-sizing: border-box;
    transform: translateY(-25%) ; /* rotate(135deg) 回転して矢印方向を設定 */
  }

.circle {
    display: inline-block;
    width: 180px; /* 円の幅 */
    height: 180px; /* 円の高さ */
    border-radius: 50%; /* 丸くするための設定 */
    background: rgb(225, 226, 226); /* 円の背景色 */
    margin: 0px; /* 間隔 */
    line-height: 190px; /* 文字の位置 */
    font-family: 'Cormorant Garamond', serif;
    border: none;
    text-decoration: none;  /* 罫線を消す */
    text-align: center; /* 文字をセンターに */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    color: rgb(66, 72, 55); /* 文字色 */
    font-weight: bold; /* 文字の太さ */
    font-size: 25px; /* フォントサイズ */
    
  animation: blinkAnime 1s infinite alternate;
}
@keyframes blinkAnime{
   0% { color: rgb(101, 87, 61) }
 100% { color: rgb(179, 166, 145) }
}

.col {
	max-width: 600px;
	min-width: 220px;
	min-height: 100px;
	margin:  auto;
	padding: 20px 20px;
    list-style-type: none;
}
dl {
    margin-bottom: 0;
}

dd {
    font-weight: 0;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 20px;
    color: rgb(114, 109, 103);
}

.img-fluid {
    padding-top: 60px;
}


.list-bordered {
    font-weight: bold;
    font-size: 25px;
    color: #21251cb0;
    width: 500px;
    margin-left: 30px;
    padding: 0;
}

table{
    margin-left: 70px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* テキスト色 */
  }

span {
    color: white;
    font-size: 30px;
    content: 120px;
}

.input-group {
    width: 73%;
    padding-left: 27%;
    color: rgb(143, 138, 131);
 }


/* grow.html */
.pagination {
   margin-left: 5%;
}

/* grow.html */
.table {
    width: 90%;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap; /* 折り返しを可能にする */
    gap: 10px; /* 画像間のスペース */
    justify-content: center; /* コンテンツを中央揃え */
}
.photo-gallery img {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s;
}
.photo-gallery img:hover {
    transform: scale(2.1); /* ホバー時に拡大 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を追加 */
}

.card {
    margin: 50px auto; /* 上下にマージンを追加 */
    max-width: 600px; /* 幅を調整 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加して見栄えを向上 */
    border-radius: 10px; /* 角を丸める */
}

.card {
    max-width: 500px; /* カードの幅を小さくする */
    margin: 20px auto; /* カードを中央に配置 */
    padding: 10px; /* カード内の余白を小さくする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
    border-radius: 10px; /* 角を丸める */
    font-size: 14px; /* フォントサイズを小さくする */
}
.card img {
    max-height: 500px; /* 画像の高さを制限 */
    object-fit: cover; /* 画像を枠内に収める */
    border-radius: 8px; /* 画像の角も丸める */
}
/*.card h5 {
    font-size: 16px; /* タイトルを小さくする 

}*/


.col-md-6{
    margin-top: 20px;
}

/* login */
	.custom-error {
    color: rgb(128, 49, 45); /* 文字色 */
    background-color: rgb(184, 184, 114); /* 背景色 */
    border: 1px solid rgb(137, 71, 73); /* 境界線  */
    padding: 10px; /* 余白  */
    border-radius: 5px; /* 角丸  */
}

*{
  box-sizing: border-box;
}
.wrapper{
  margin: 0 auto;
  padding: 20px;
  font-family: 'Cormorant Garamond', serif;
}
/*
*　GrowthList　Cocoonのデフォルトのスタイル
*/
.pagination-next{
  margin-top: 24px;
}
.pagination-next-link{
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: rgb#f9f9f9d3;;
  display: block;
  font-size: 1.2em;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 10px;
  display: block;
}
.pagination-next-link:hover{
  background-color: #f5f8fa;
  transition: all 0.3s ease-in-out;
  color: #f9f9f9d3;;
}
.pagination{
  margin: 24px 0;
  clear: both;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.pagination .current{
  background-color: #eee;
}
.pagination a:hover{
  background-color: #f5f8fa;
  transition: all 0.3s ease-in-out;
  color: #f9f9f9d3;;
}
.page-numbers{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  height: 46px;
  width: 46px;
  border: 1px solid #ddd;
  margin: 0 4px;
  line-height: 46px;
  text-align: center;
  border-radius: 4px;
}
.page-numbers span{
  line-height: inherit;
}
.page-numbers.dots{
  opacity: 0.6;
  background-color: #f5f6f7;
}
.page-numbers, .pagination-next-link{
  border-color: #e3e3e3 #cecece #b4b4b4 #d6d6d6;
  border-width: 1px;
  border-style: solid;
}
.fa{
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.screen-reader-text{
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
@media screen and (max-width: 480px){
    .page-numbers{
        width: 34px;
        height: 34px;
        line-height: 34px;
    }
    .pagination-next-link{
        font-size: 1em;
    }
}
/*
カスタマイズ
*/
.pagination-next, .pagination{
  overflow: hidden;
}
.pagination-next-link, .page-numbers{
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #f9f9f9d3;
  background-color: rgb(196, 196, 196);
}
.page-numbers.dots{
  border: none;
  background-color: rgb(196, 196, 196);
  opacity: 1;
}
.pagination .current{
  background-color: #ccc;
  color: #afa69b;
}
.pagination-next-link, .pagination a{
  transition: .2s;
}
.pagination-next-link:hover, .pagination a:hover{
  background-color: #afa69b;
  color: #fff;
  transform: translateY(5px);
}

/* plsntsList画像の拡大アニメーション */
.zoom-effect {
    transition: transform 0.3s ease-in-out; /* スムーズなアニメーション */
}

.zoom-effect:hover {
    transform: scale(3.0); /* 3倍に拡大 */
}



/* glowth 登録ボタンsolid008 */

.button_solid008 a{
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 220px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.button_solid008 a::before {
  content: '';
  position: absolute;
  bottom: -7px;
  right: -7px;
  width: 100%;
  height: 2px;
  background-color: #bbbbbb;
  transition: 0.2s ease 0s;
}

.button_solid008 a::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -7px;
  width: 2px;
  height: 100%;
  background-color: #bbbbbb;
  transition: 0.2s ease 0.2s;
}

.button_solid008 a:hover::before {
  width: 0%;
}

.button_solid008 a:hover::after {
  height: 0%;
}

.button_solid008 a:hover {
  text-decoration: none;
  background-color: #ccc;
}

/* PlantsList. */
.card  {
    text-decoration: none; /* リンクの下線を削除 */
    color: inherit; /* 親要素の色を継承 */
}


